{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="{%static 'login.css' %}">
</head>
<body>
    <div class="container">
        <h2>Sign up for Homie</h2>
        <form id="signupForm" action="{% url 'register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
                        
            {% if messages %}
                {% for message in messages %}
                    <p class="error-alert">{{ message }}</p>
                {% endfor %}
            {% endif %}
            <button type="submit" class="btn">Sign up</button>
        </form>
    </div>
</body>
</html>
