nav {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* .nav-links a:hover {
    color: #D2691E;
} */

.search-results-main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 120vh;
}

.listing-cards {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    height: calc(100vh - 10px);
    gap: 20px;
    padding-right: 20px;
    overflow-y: auto;
    margin: 20px;
}

.listing-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: scroll;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 400px;
}

.listing-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.listing-card h3 {
    font-size: 1.5em;
    color: #8B0000;
    margin: 10px;
}

.listing-card p {
    font-size: 1em;
    color: #555;
    margin: 10px;
}

.listing-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.map {
    width: 50%;
    height: calc(100vh - 10px);  /* Adjust height to exclude nav bar */
    position: fixed;
    /* top: 20px; */
    margin: 20px;
    right: 0;
    box-sizing: border-box;
}

